Django~=1.4.1
South~=0.7.6
amqplib~=1.0.2
anyjson~=0.3.3
billiard~=2.7.3.12
boto~=2.5.2
celery~=3.0.7
distribute~=0.6.24
dj-database-url~=0.2.1
django-celery~=3.0.6
django-oauth2-provider~=0.2.3
django-piston~=0.2.3
django-registration~=0.8
django-storages~=1.1.5
gunicorn~=19.5.0
kombu~=2.4.2
newrelic~=1.5.0.103
psycopg2~=2.4.5
python-dateutil~=1.5
shortuuid~=0.2
wsgiref~=0.1.2
