{% extends "base.html" %}
{% load i18n %}
{% block content %}
      <div class="row-fluid">  
        <div class="span3">  
          <div class="well sidebar-nav">  
            <ul class="nav nav-list">  
              <li class="active"><a href="/">Dashboard</a></li>
              <li class="nav-header">Events</li>  
              <li><a href="/event/list">All events</a></li>  
              <li><a href="/event/new">Create</a></li>  
              <li><a href="/timetable/list">Timetables</a></li>  
              <li><a href="/team/list">Teams</a></li>  
              <li><a href="/location/list">Locations</a></li>    
              <li class="nav-header">Teams</li>  
              <li><a href="/team/list">All teams</a></li>  
              <li><a href="/team/new">Create</a></li>  
              <li><a href="/people">Members</a></li>
              <li class="nav-header">Mobile</li>
              <li><a href="/mobile/andoid">Android</a></li>
              <li><a href="/mobile/ios#">iPhone/iPad/iPod</a></li>
              <li><a href="/mobile/blackbery#">Blackberry</a></li>
              <li><a href="/mobile/windows#">Windows Phone</a></li>
           </ul>  
          </div><!--/.well -->  
        </div><!--/span-->  
        <div class="span9">  
{% block innercontent %}{% endblock %}
            </div><!--/span-->  
          </div><!--/row-->  
{% endblock %}
